<div class="col-sm-10 col-sm-offset-1">
  <%= simple_form_for(@art_piece) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :discipline, label: 'Disciplina', disabled: current_user.status %>
      <%= f.input :title, label: 'Título de la obra', disabled: current_user.status %>
      <%= f.input :date_of, label: 'Fecha', as: :date, start_year: Date.today.year,
                                end_year: Date.today.year - 30, discard_day: true,
                                discard_month: true, order: [:year], disabled: current_user.status %>
      <%= f.input :dimensions, label: 'Dimensiones', hint: 'Alto x Ancho x Profundidad', disabled: current_user.status %>
      <%= f.input :technique, label: 'Técnica', disabled: current_user.status %>
      <%= f.input :description, label: 'Memoria Técnico-Descriptiva', collection: ['Bidimensional', 'Tridimensional', 'Interactiva', 'Sistema Digital', 'Recorrible', 'Video', 'Escénica', 'Otra'], disabled: current_user.status %>

      <% if @art_piece.attachment_file_id? %>
        <br>
        <div class="form-group">
          <%= attachment_image_tag(@art_piece, :attachment_file, :fill, 250, 250, class: "img-responsive") %>
          <%= f.check_box :remove_attachment_file, disabled: current_user.status %>
          <%= f.label "Eliminar Archivo" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label "Fotografía de la obra (jpeg, png)" %>
        <%= f.attachment_field :attachment_file, hint: 'Puedes subir una foto de esta obra', disabled: current_user.status %>
      </div>

      <%= f.input :quantity, label: 'Cantidad de piezas de la obra', collection: 1..10, disabled: current_user.status %>
      <%= f.input :observations, label: 'Observaciones importantes', hint: 'De exhibición, montaje, conservación, ...', :input_html => { :rows => 7, :style => 'width: 100%'}, disabled: current_user.status %>
      <%= f.input :exhibit_text, label: 'Texto de sala', hint: 'Escrito tal como será presentado. Exclusivo para textos que se exhibirán en sala.', :input_html => { :rows => 7, :style => 'width: 100%'}, disabled: current_user.status %>
      <%= f.input :artist_statement, label: 'Memoria Conceptual (máximo 250 palabras)', hint: 'Escrito del artista que justifíque o explíque por qué su pieza propone una lectura sobre la relación cuerpo-arte.', :input_html => { :rows => 10, :style => 'width: 100%'}, disabled: current_user.status %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Guardar Obra",class: 'btn btn-primary', disabled: current_user.status %>
    </div>
  <% end %>
</div>
