<div class="col-sm-6 col-sm-offset-3">
  <h2 class="center">Editar Información</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, disabled: current_user.status %>
      <%= f.input :first_name, label: 'Nombre', required: true, disabled: current_user.status %>
      <%= f.input :last_name, label: 'Apellido', required: true, disabled: current_user.status %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", label: 'Nueva contraseña', hint: "déjalo en blanco si no deseas cambiarlo", required: false %>
      <%= f.input :current_password, label: 'Contraseña actual', hint: "tu contraseña actual es necesaria para hacer cambios", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Guardar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
